* {
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1615237002240-8bfecfbfd7fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
  background-color: blanchedalmond;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

nav {
  border: 10px solid blanchedalmond;
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

.list-items {
  display: inline;
  color: #86592d;
  padding: 10px;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
}

.button {
  background-color: #86592d;
  border: none;
  color: white;
  padding: 16px 32px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #86592d;
}

.list {
  height: 350px;
  width: 300px;
  position: relative;
  background-color: #86592d;
  color: white;
  text-align: left;
  padding: 15px;
  border: 5px solid burlywood;
  margin: 5px;
}
